@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {

    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --White:hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'League Spartan', sans-serif;
}

.header__title{
    color: var(--very-dark-magenta);
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin: 0 64px 30px 64px;
}

.header__subtitle {
    color: var(--dark-grayish-magenta);
    font-weight: 400;
    margin: 0 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }